.Aboutfavorites{
    height: 200px;
    width: 100%;
    font-size: 21px;
    color: #fff4e6;
    background-color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

